/examples/
examples/
/data/
data/
/build/
build/
/labview/
/FFR_GUI.egg-info/
FFR_GUI.egg-info/
*egg-info
conf/databasepath.json
/deprecated/
deprecated/
/sample/
sample/
*__pycache__
*.pyc
*pyc
*__init__
*spec
dist/
/dist/
